MatrixKAN (efficient_kan)/Archive/
MatrixKAN (efficient_kan)/Test Scripts/
MatrixKAN (efficient_kan)/Logs/
MatrixKAN (pykan)\pykan - extrapolate\figures
MatrixKAN (pykan)\pykan - extrapolate\model
Misc/
Reference/
venv/
.idea/